<!--The content below is only a placeholder and can be replaced.-->
<div id="main-content" class="display-flex flex-direction-col">
  <div class="battle-background">
    <img src="https://pbs.twimg.com/media/DVMT-6OXcAE2rZY.jpg" alt="">
  </div>
  <app-pokemon [pokemon]="enemyPokemon"></app-pokemon>
  <app-pokemon [pokemon]="trainerPokemon" isTrainer="true"></app-pokemon>

  <app-control-panel [pokemon]="trainerPokemon" isTrainer="true" class="control-panel" (evAttack)='Attack($event)'></app-control-panel>
</div>

<!-- Ambience -->
<div class="gameboy-background">
  <img src="https://orig00.deviantart.net/1971/f/2013/203/a/a/console_series__gameboy_advanced_template_by_boogacatt-d6epdwp.png"
    alt="">
</div>
<!--
<audio src="/src/assets/Battle.mp3" loop autoplay></audio>
-->