<!--The content below is only a placeholder and can be replaced.-->
<div id="main-content" class="display-flex flex-direction-col">
  <div class="battle-background">
    <img src="https://pbs.twimg.com/media/DVMT-6OXcAE2rZY.jpg" alt="">
  </div>
  <div class="battle battle-top display-flex">
    <div class="char flex-direction-row-reverse char-top">
      <div class="char-photo">
        <img id="char-1-photo" src="https://vignette.wikia.nocookie.net/es.pokemon/images/8/80/Charizard_NB.gif/revision/latest?cb=20101031232142"
          alt="" srcset="">
      </div>
      <div class="char-info">
        <div id="char-1-name" class="char-name">
          Charizard
        </div>
        <div class="char-life">
          <div id="char-1-life"></div>
        </div>
        <div class="char-attack"></div>
        <div id="char-1-attack"></div>
        <div class="char-defense">
          <div id="char-1-defense"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="battle battle-bottom display-flex" >
    <div class="char char-bottom  ">
      <div class="char-photo display-flex">
        <img id="char-2-photo" src="https://vignette.wikia.nocookie.net/es.pokemon/images/f/fc/Entei_espalda_G5.gif/revision/latest?cb=20101227123557"
          alt="" srcset="">
      </div>
      <div class="char-info">
        <div id="char-2-name" class="char-name">
          Entei
        </div>
        <div class="char-life">
          <div id="char-2-life"></div>
        </div>
        <div class="char-attack"></div>
        <div id="char-2-attack"></div>
        <div class="char-defense">
          <div id="char-2-defense"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="control-panel"></div>

</div>
<div class="gameboy-background">
  <img src="https://orig00.deviantart.net/1971/f/2013/203/a/a/console_series__gameboy_advanced_template_by_boogacatt-d6epdwp.png"
    alt="">
</div>