$break-small: 850px;
$break-large: 1200px;
.battle-actions-container {
    display: flex;
    flex-flow: wrap;
    background: wheat;
    justify-content: space-around;
    align-items: center;
    border: 0.7rem outset darkgray;
    @media screen and (max-width: $break-small) {
        
    border: 0.3rem outset darkgray;
    }
    width: 50%;
}

.battle-dialog {
    color: wheat;
    padding: 1rem;
    width: 50%;
}

.battle-actions:hover {
    cursor: pointer;
}

.battle-actions {
    border: none;
    transition: all 400ms ease-in;
}

.battle-actions[class*="active"] {
    border: 2px black outset;
    transition: all 400ms ease-out;
}