/* You can add global styles to this file, and also import other style files */
* html,
body {
  padding: 0px;
  margin: 0px;
  font-size:1vw;
}
*{
  box-sizing:border-box;
}

@font-face {
  font-family: "Pokemon";
  src: URL("assets/Pokemon_GB.ttf") format("truetype");
}
